body{
    color:rgb(2, 15, 15);
 background-color: rgb(124, 57, 19);
font-family:"Faculty Glyphic",serif;
}
   
.chamada {
background: rgb(75, 19, 19);
padding-bottom: 80px;
padding-top: 80px;
display: flex;
justify-content: center;
}

.categoria {
padding-left: 20px;
padding-right: 20px;
}

div {
margin-right: 20px;
}

.chamada-texto {
margin-right: 5%;
margin-left: 5%;
}

img {
height: 200px;
}

.categoria-videos {
display: flex;
overflow-x: auto;
gap: 10px;
}

h1 {
font-size: 30px;
}

p {
font-size: 20px;
}